body {
    background-color: #1f1f1f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #ddd;
    max-width: 300px;
    user-select: none;
    line-height: 1em;
    margin: 0;
}

header {
    display: flex;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    justify-items: center;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

header .title-group {
    flex: 1;
    display: flex;
    align-items: center;
}

header .status.on-save {
    font-size: 22px;
}

header .title {
    margin-right: .25rem;
    text-shadow: 0 0 5px #000;
}


hr {
    border: none;
    border-bottom: 1px solid #626262;
    margin: 1rem 0;
}

input,
button {
    display: block;
    color: #aaa;
    background-color: #2a2a2a;
    padding: .5rem;
    min-width: 150px;
    margin: 1rem auto;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    text-align: center;
    text-transform: capitalize;
}

input {
    cursor: inherit;
}

input:hover,
button:hover {
    background-color: #595959;
    color: #d3d3d3;
}

input.on,
button.on {
    background-color: #f00;
    color: #fff;
}

input:focus {
    background-color: #595959;
    color: #fff;
}

input.on:focus {
    background-color: rgba(255, 0, 0, .5);
}

code {
    color: #f00;
    background-color: #2a2a2a;
    padding: 0 .25rem;
    border-radius: 2px;
}

ul {
    list-style: none;
    padding: 0;
    margin: .5rem 0 0 0;
}

li {
    margin-bottom: .25rem;
}

/** Classes **/
.content {
    padding: 0 1rem;
}

.title-logo {
    height: 32px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: .5rem;
    color: #fff;
}

.control-group {
    margin-bottom: .5rem;
}

.input-group {
    display: flex;
    max-width: 300px;
    margin: 1rem auto;
}

.input-group input,
.input-group button {
    flex: 1;
    display: inline-block;
    min-width: 0;
    margin: 0;
    border-radius: 0;
    border: none;
}

.input-group button:first-child,
.input-group input:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.input-group button:last-child,
.input-group input:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.status {
    opacity: 0;
    transition: opacity ease-in-out 200ms, color ease-in-out 75ms;
}

/** Modifiers **/
.small {
    font-size: 80%;
}

.muted {
    color: #626262;
}

.success {
    color: #0f0;
}

