.ftw-fullsize.on {
    overflow: hidden;
}

.ftw-fullsize.on .ytp-size-button {
    display: none;
}

.ftw-fullsize.on ytd-watch:not([hidden]) #movie_player,
.ftw-fullsize.on ytd-watch-flexy:not([hidden]) #movie_player {
    background: #000;
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: auto;
    height: auto;
    z-index: 10000;
}

.ftw-fullsize.on #movie_player .ftw-button svg #ftw-letter-0,
.ftw-fullsize.on #movie_player .ftw-button svg #ftw-letter-1,
.ftw-fullsize.on #movie_player .ftw-button svg #ftw-letter-2 {
    fill: #f00 !important;
}

